---
layout: layout.liquid
---

<div class="container">
  <a href="https://github.com/micheal-earl" class="card">
    <i class="fab fa-github"></i>
    GitHub
  </a>
  <a href="https://www.linkedin.com/in/micheal-earl/" class="card">
    <i class="fab fa-linkedin"></i>
    LinkedIn
  </a>
  <a href="https://bsky.app/profile/m-earl.bsky.social" class="card">
    <i class="fab fa-bluesky"></i>
    Bluesky
  </a>
  <a href="mailto:michealearldev@gmail.com" class="card">
    <i class="fas fa-envelope"></i>
    Email
  </a>
</div>