---
layout: layout.liquid
---

<div class="contact">
  {% comment %} <h1>Contact Me</h1>
                      <p>Feel free to reach out through any of the platforms below:</p> {% endcomment %}


  <a href="https://github.com/yourusername" class="contact-card">
    <i class="fab fa-github"></i>
    GitHub
  </a>


  <a href="https://linkedin.com/in/yourusername" class="contact-card">
    <i class="fab fa-linkedin"></i>
    LinkedIn
  </a>


  <a href="https://twitter.com/yourusername" class="contact-card">
    <i class="fab fa-twitter"></i>
    Twitter</a>


  <a href="mailto:your.email@example.com" class="contact-card">
    <i class="fas fa-envelope"></i>
    Email</a>


</div>