---
layout: layout.liquid
---

<div class="container">
  <a href="https://github.com/micheal-earl/chip8-emulator" class="card">
    <i class="fa-solid fa-calculator"></i>
    Chip8 Emulator
  </a>
  <a href="https://github.com/micheal-earl/mitwi" class="card">
    <i class="fa-solid fa-kiwi-bird"></i>
    Twitter Clone
  </a>
  <a href="https://github.com/micheal-earl/bytelo" class="card">
    <i class="fa-solid fa-gamepad"></i>
    Top Down Shooter
  </a>
  <a href="https://github.com/micheal-earl/humbudget" class="card">
    <i class="fa-solid fa-money-bill"></i>
    Budget Web App
  </a>

</div>