<!DOCTYPE HTML>
<html>

<head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <meta property="og:title" content="Mike Program" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mikesprogram.com" />
    <meta property="og:image" content="/images/cover.png" />
    {{ template "_internal/twitter_cards.html" . }}
</head>

<body class="is-preload">
    <div id="wrapper">

        {{- partial "mobile-header.html" . -}}

        <!-- Main -->
        <div id="main">
            {{- block "main" . }}{{- end }}
        </div>

        {{- partial "sidebar.html" . -}}


        <!-- About -->


    </div>

    <!-- Scripts >
    <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/browser.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/breakpoints.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/util.js"></script>
    <script src="{{ .Site.BaseURL }}/js/main.js"></script>
    < -->
</body>

</html>