{{ define "main" }}

<!-- Post -->
{{ range .Paginator.Pages }}
{{ if not (isset .Params "status" ) }}
<article class="post">
  <header>
    <div class="title">
      <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
      <!-- p>articlesummary</p -->
    </div>
    <div class="meta">
      <time class="published">{{ .Date.Format "Jan 2, 2006" }}</time>
      <a href="{{ .URL }}" class="author"><span class="name">Micheal Earl</span></a>
    </div>
  </header>
  <!-- a href="single.html" class="image featured"><img src="/theme/images/pic01.jpg" alt="" /></a -->
  {{ .Content }}
  <footer>
    {{ with .Params.tags }}
    <ul class="stats">
      {{ range . }}
      <li> <a href="{{ " tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
</article>
{{end}}
{{ end }}

<!-- Pagination -->
<span class="actions pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}" class="button large previous">Previous Page</a>
  {{ else }}
  <a href="#" class="disabled button large previous">Previous Page</a>
  {{ end }}

  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}" class="button large next">Next Page</a>
  {{ else }}
  <a href="#" class="disabled button large next">Next Page</a>
  {{ end }}
  </ul>
  <!-- endblock -->

  {{ end }}