<!-- Sidebar -->
<!-- section id="sidebar-placeholder"></section -->
<section id="sidebar">

  <!-- Intro -->
  <section id="intro">
    <header>
      <a href="/index.html">
        <h2><i class="fas fa-code-branch"></i> {{ .Site.Title }}</h2>
      </a>
      <p>A place for notes</p>
      <ul class="icons">
        <li><a href="https://github.com/Zenrix" class="icon brands fa-github"><span class="label">Micheal Earl</a></li>
        <li><a href="https://www.linkedin.com/in/micheal-earl/" class="icon brands fa-linkedin"><span
              class="label">Micheal Earl</a></li>
        <li><a href="https://twitter.com/michealearldev" class="icon brands fa-twitter"><span class="label">Micheal
              Earl</a></li>
      </ul>
    </header>
  </section>

  <!-- Sidebar Links -->
  <section>
    <div class="sidebar-links">

      <span class="sidebar-link">
        <h1><a href="/index.html">Home</a></h3>
      </span>

      <span class="sidebar-link">
        <h1><a href="/pages/resume">Resume</a></h3>
      </span>

      <span class="sidebar-link">
        <h1><a href="/pages/portfolio">Portfolio</a></h3>
      </span>

      <span class="sidebar-link">
        <h1><a href="/pages/archive">Archive</a></h3>
      </span>

    </div>
  </section>

  <section class="blurb">
    <h2>About</h2>
    <p>I am driven to learn new technologies and deep dive into what makes them tick. I have 2 years of web
      development experience, a decade of tinkering under my belt, and I am proficient in all areas of web
      development
      with a focus on the back end.</p>
    <!-- ul class="actions">
      <li><a href="#" class="button">Learn More</a></li>
    </ul -->
  </section>

  <!-- Footer -->
  <section id="footer">
    <p class="copyright">&copy; Micheal Earl 2022</p>
  </section>

</section>